<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<substitutionProperty name="logbase" value="${catalina.base}/logs/" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${logbase}adv.log</File>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logbase}adv.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<!--
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logbase}yht.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%msg%n</Pattern>
		</layout>
	</appender>
	-->
	<logger name="com.zjht.adv.action.front">
		<level value="INFO" />
	</logger>
	<logger name="com.zjht.adv.job">
		<level value="INFO" />
	</logger>
	<logger name="com.zjht">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework.web">
		<level value="ERROR" />
	</logger>
	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>
	<root>
		<level value="ERROR" /><!--WARN-->
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>

